<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>418202309930-uhg46sf3ask241nqcqdgf0390ore6nu6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.418202309930-uhg46sf3ask241nqcqdgf0390ore6nu6</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>418202309930-oe5kq1300so5rf076tpd6n9coulmi3fg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDaCtXIYfARVuRxpgoztYKxhw1QOyMAmkE</string>
	<key>GCM_SENDER_ID</key>
	<string>418202309930</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mycompany.testbookapp</string>
	<key>PROJECT_ID</key>
	<string>testbook-a11f8</string>
	<key>STORAGE_BUCKET</key>
	<string>testbook-a11f8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:418202309930:ios:f91d21ce10e50d06e43a53</string>
</dict>
</plist>